<div class="projectPageBodyContainer">

    <div class="container-fluid">
        <h2 class="tagline">Let's accomplish more together</h2>
    </div>

    <!--navbar-->
    <nav class="navbar sticky-top navbar-dark bg-dark" id="joinmeNavbar">
        <div class="container">
            <a class="nav-link" id="joinmeNavLink" href="/">JoinME</a>
            <a class="nav-link" href="/index">Home</a>
            <a class="nav-link" href="../public/about.html">About</a>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Search Projects
            </a>
            <div class="dropdown-menu" id="drop" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/api/projects/fitness">Fitness</a>
                <a class="dropdown-item" href="/api/projects/diet">Diet</a>
                <a class="dropdown-item" href="/api/projects/social">Social</a>
            </div>
            <a class="btn btn-default navbar-btn" id="btnSignOut" href="/login">Sign Out</a>
        </div>
    </nav>

    <div class="instructionsForCompletion">
        <h3>When you have completed a step
            <div class="completeBtn">
                <a href="#"></a>
                <img src="./assets/images/confirm.png" />
                </a>
            </div> in your project click the completion button!
        </h3>
    </div>

    {{!-- steps panel --}}
    <div class="card" id="projectPanel">
        <div class="card-header" id="projectPanelHeader">
           <h2>{{project.Project_name}}</h2>
        </div>
<br/>

        <table class="projectPanelTable" border="1">
            <tbody class="projectPanelTableBody">
                 {{#each project.step}}
                <tr> 
                    <th class="projectTableHeaders">{{Step}}</th>
                    <th class="projectTableHeaders">{{Step_description}}</th>
                    <th class="projectTableHeaders"><div class="completeBtn">
                        <a href="/api/steps/{{id}}">
                        <img src="../assets/images/confirm.png" />
                        </a>
                    </div></th>
                </tr>
                    {{/each}}
                    
            </tbody>
        </table>
    </div>

    <!--footer-->
    <footer class="fixed-bottom">
        <div class="mx-auto" id="footImg" style="width: 100px;">
            <img src="assets/images/step4.jpg" class="img-fluid" alt="Sample photo">
        </div>
    </footer>

</div>