{{!-- user projects table --}}
<h1>Route worked. This will be deleted.</h1>

<div class="card">
    <div class="card-header">{{Project.Project_Name}}</div>

    <table style="width:100%">
        <tr>
            {{#each Step.Step}}
            <th>{{this.Step}}</th>
            <th>{{this.Step_description}}</th>
            <th>{{this.Completed}}</th>
            {{/each}}
        </tr>
    </table>
</div>