<div class="container-fluid"></div>

<!--navbar-->
<nav class="navbar sticky-top navbar-dark bg-dark" id="joinmeNavbar">
    <div class="container">
        <a class="nav-link disabled" id="joinmeNavLink" href="#">JoinMe</a>
        <a class="nav-link" href="/index">Home</a>
        <a class="nav-link" href="../public/about.html">About</a>
        <a class="nav-link" href="/searchProject">Search Projects</a>
        <button type="button" class="btn btn-default navbar-btn" id="btnSignOut">Sign Out</button>
    </div>
</nav>

{{!-- user projects table --}}
<div class="card">
    <div class="card-header">{{Project.Project_Name}}</div>

    <table style="width:100%">
        <tr>
            {{#each Step.Step}}
            <th>{{this.Step}}</th>
            <th>{{this.Step_description}}</th>
            <th>{{this.Completed}}</th>
            {{/each}}
        </tr>
    </table>
</div>


<!--footer-->
<footer class="fixed-bottom">
    <div class="mx-auto" id="footImg" style="width: 100px;">
        <img src="assets/images/step4.jpg" class="img-fluid" alt="Sample photo">
    </div>
</footer>