<div class="projectPageBodyContainer">

    <div class="container-fluid">
        <h2 class="tagline">Let's accomplish more together</h2>
    </div>

    <!--navbar-->
    <nav class="navbar sticky-top navbar-dark bg-dark" id="joinmeNavbar">
        <div class="container">
            <a class="nav-link" id="joinmeNavLink" href="/">JoinME</a>
            <a class="nav-link" href="/index">Home</a>
            <a class="nav-link" href="../public/about.html">About</a>
            <a class="nav-link" href="/searchProject">Search Projects</a>
            <a class="btn btn-default navbar-btn" id="btnSignOut" href="/login">Sign Out</a>
        </div>
    </nav>

    <div class="instructionsForCompletion">
        <h3>Click the step completion<div class="completeBtn"><a href="#"></a></div> button to mark a step as completed in your project!
        </h3>
    </div>

    <div class="card" id="projectPanel">
        <div class="card-header" id="projectPanelHeader">{{Project.Project_Name}}</div>
        <table class="projectPanelTable" border="1">
            <tbody class="projectPanelTableBody">
                <tr>
                    <th class="projectTableHeaders">Step Name</th>
                    <th class="projectTableHeaders">Step Description</th>
                    <th class="projectTableHeaders">Completion Status</th>
                </tr>
                {{!-- {{#each Step}} --}}
                <tr>
                    <td class="stepName">{{Step}}</td>
                    <td class="stepDescription">{{Step_description}}</td>
                    <td class="stepCompletionStatus">Completed</th>
                </tr>
                {{!-- {{/each}} --}}
            </tbody>
        </table>
    </div>

    {{!-- <div class="completeBtn">
        <a href="#"></a>
        <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div> --}}

    <!--footer-->
    <footer class="fixed-bottom">
        <div class="mx-auto" id="footImg" style="width: 100px;">
            <img src="assets/images/step4.jpg" class="img-fluid" alt="Sample photo">
        </div>
    </footer>

</div>