 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="searchProjectPageBodyContainer">

    <div class="container-fluid">
        <h2 class="tagline">Let's accomplish more together</h2>
    </div>

    {{!-- navbar --}}
    <nav class="navbar sticky-top navbar-dark bg-dark" id="joinmeNavbar">
        <div class="container">
            <a class="nav-link" id="joinmeNavLink" href="/">JoinME</a>
            <a class="nav-link" href="/index">Home</a>
            <a class="nav-link" href="../public/about.html">About</a>
            <a class="nav-link" id="activeNavLink" href="#">Search Projects</a>
            <a class="btn btn-default navbar-btn" id="btnSignOut" href="/login">Sign Out</a>
        </div>
    </nav>

    <div class="instructionsForJoin">
        <h3>Click the JoinME<span><img src="assets/images/step4sm.jpg" class="img-fluid" id="joinmeBtnInstructions" alt="Sample photo">
    </span>button to join a project!</h3>
    </div>
    {{!-- user projects list --}}
    <div class="card" id="allProjectsPanel">
        <div class="card-header" id="allProjectsPanelHeader">All {{project.Project_Type}}Projects</div>

       
        <div class="card-body" id="allProjectsListPanelBody">
            <ul class="list-group">
                 {{#each project}}
                <li class="list-group-item" id="projectNameItem">
                    <p class="projectNameInAllList"><a href="/projects/{{id}}">{{Project_name}}</a></p>
                    <p class="projectDescriptionInAllList">{{Project_descripton}}</p>
                    <a class="btn btn-circle mr-3"><img src="./assets/images/step4sm.jpg"></a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

    {{!-- footer --}}
    <footer class="fixed-bottom">
        <div class="mx-auto" id="footImg" style="width: 100px;">
            <img src="assets/images/step4.jpg" class="img-fluid" alt="Sample photo">
        </div>
    </footer>

</div>