<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light" id="joinmeNavbar">
    <a class="nav-link" id="joinmeNavLink" href="#">JoinMe</a>
    <a class="nav-link active" href="#">Home</a>
    <a class="nav-link" href="../public/about.html">About</a>
      <a class="nav-link" href="/searchProject">Search Projects</a>
    <button type="button" class="btn btn-default navbar-btn" id="btnSignOut">Sign Out</button>
</nav>

{{!-- UNTESTED HANDLEBARS --}}
{{!-- user projects list --}}
<div class="card">
    <div class="card-header" id="projectListPanelHeader">All JoinMe Projects</div>
    <div class="card-body" id="projectListPanelBody">
        <ul class="list-group">
        {{#each Project}}
            <li class="list-group-item" id="projectNameItem">
                <a class="projectNameInList" href="./project.handlebars">{{this.Project_name}}</a>
                <h5 class="projectStartDate">{{this.Datetime}}</h5>
            </li>
        {{/each}}
        </ul>
        <a class="projectNameInList" href="/api/projects">{{this.Project_name}}Testing the link for handlebars insertion. This will be deleted.</a>
    </div>
</div>