body {
    height: 100%;
    width: 100%;
    margin: 0;
       /* The image used */
       background-image: url("../images/shoestracks.jpeg");
       /* Center and scale the image nicely */
       /* background-position: center; */
       background-repeat: no-repeat;
       background-size: cover;    
}

.container-fluid {
    background-color:#e3f2fd;
    padding-top: 100px;
}

.tagline {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}

/* navbar */
.container {
    width: 600px;
    margin-left: 0;
}

#joinmeNavbar {
    background-color: #222222;
    /* margin-top: 75px; */
}

#joinmeNavLink {
    color: #E18942;
    font-weight: bold;
    font-family: 'Arimo', sans-serif; 
    font-size: 24px;       
}

.nav-link {
    color: #9e9e9e;
    font-family: 'Arimo', sans-serif; 
    font-size: 14px;
}

#activeNavLink {
    font-size: 18px;
    color: #e3f2fd;  
}

#btnSignOut {
    position: absolute;
    right: 40px;
    background: #E18942;
    color: #e3f2fd; 
    font-family: 'Arimo', sans-serif;     
}

/* about card */
#About {
    margin-top: 30px;
    animation: fadein 7s;
    -moz-animation: fadein 7s; /* Firefox */
    -webkit-animation: fadein 7s; /* Safari and Chrome */
    -o-animation: fadein 7s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.card-header {
    background-color: #222222;
    color: #9e9e9e;
    font-family: 'Arimo', sans-serif; 
    font-size: 18px;
    font-weight: bold;
}

.card-block {
    background-color: #e3f2fd;
}

.card-text {
    padding: 15px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    padding: 40px;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px; 
}

li {
    margin-left: 80px;
}

.list-group-item {
    background-color: #e3f2fd;
    border: none;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

/* about image */
#help {
    margin-top: 15px;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* footer */
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #E18942;
}
#footImg {
    vertical-align: middle;
}
