body, html {
    height: 100%;
    margin: 0;
       /* The image used */
       background-image: url("../images/shoes.jpg");
       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}

.mt100 {
    margin-top: 100px;
}