.searchProjectPageBodyContainer {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e3f2fd;
}

.container-fluid {
    background-color:#e3f2fd;
    padding-top: 100px;
}

.tagline {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}

/* navbar */
.container {
    width: 600px;
    margin-left: 0;
}

#joinmeNavbar {
    background-color: #222222;
}

#joinmeNavLink {
    color: #E18942;
    font-weight: bold;    
    font-family: 'Arimo', sans-serif; 
    font-size: 24px;       
}

.nav-link {
    color: #9e9e9e;
    font-family: 'Arimo', sans-serif; 
    font-size: 14px;
}

#activeNavLink {
    font-size: 18px;
    color: #e3f2fd;  
}

#btnSignOut {
    position: absolute;
    right: 40px;
    background: #E18942;
    color: #e3f2fd;    
}

.instructionsForJoin {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

#joinmeBtnInstructions {
    padding: 5px;
    margin-left: 10px;
}

/* all projects panel */
#allProjectsPanel {
    width: 1000px;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 150px;
    background-color: #eeeeee;
    color: #343a40;
    border-radius: 5px;
    font-family: 'Arimo', sans-serif;  
}

#allProjectsPanelHeader {
    font-size: 30px;
    text-align: center;
    background-color: #000000;
    color: #eeeeee;
    font-family: 'Arimo', sans-serif;  
}

.allProjectsListPanelBody {
    width: 1000px;
    text-align: center;
    background-color: #eeeeee;
    color: #424242;
}

#projecctNameItem {
    display: inline-block;
}

.projectNameInAllList {
    width: 400px;
    display: inline-block;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: bold;    
    font-family: 'Arimo', sans-serif;    
}

.projectDescriptionInAllList {
    width: 400px;
    display: inline-block;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: bold;    
    font-family: 'Arimo', sans-serif; 
}





/* footer */
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #E18942;
}
#footImg {
    vertical-align: middle;
}