
/* create project modal */
.modal-content {
    width: 800px;
    font-family: 'Arimo', sans-serif;    
}

.modal-header {
    background-color: #222222;
}

.modal-title {
    color: #ffffff;
    font-size: 30px;
    margin: 0 auto;
}

#closeModalBtn {
    color: #ffffff;    
    margin-left: 0px;
}

.modal-body {
    background-color: #f5f5f5;
}

.form-group {
    display: inline-block;
}

.form-control {
    background-color: #ffffff;
}

#createProjectModalLabels {
    margin-left: 40px;
    color: #424242;
    font-size: 18px;
}

.input-group-prepend {
    /* width: 180px; */
    margin-left: 40px;
}

#projectName {
    width: 680px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 2rem;
}

#projectType {
    width: 480px;
    /* margin-left: 40px; */
    margin-right: 40px;
}

#projectDescription {
    margin-left: 40px;
    width: 680px;
} 

#stepOne {
    margin-left: 40px;
    width: 680px;
}

#stepOneDescription {
    margin-left: 40px;
    width: 680px;
}

#stepTwo {
    margin-left: 40px;
    width: 680px;
}

#stepTwoDescription {
    margin-left: 40px;
    width: 680px;
}

#stepThree {
    margin-left: 40px;
    width: 680px;  
}

#stepThreeDescription {
    margin-left: 40px;
    width: 680px;  
}

#stepFour {
    margin-left: 40px;
    width: 680px;  
}

#stepFourDescription {
    margin-left: 40px;
    width: 680px;    
}

#stepFive {
    margin-left: 40px;
    width: 680px; 
}

#stepFiveDescription {
    margin-left: 40px;
    width: 680px;   
}

.modal-footer {
    display: inline-block;
    background-color: #222222;    
}

.modalGoodbyeMessage {
    display: inline-block;
    text-align: center;
    width: 500px;
    margin-left: 50px;
    font-size: 20px;    
    color: #ffffff;  
}

#submitModalBtn {
    color: #424242;
    background-color: #ffffff;
}
