.imageDiv {
    height: 100%;
    margin: 0 auto;
       /* The image used */
       background-image: url("../images/foggymountains.jpg");
       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       /* background-repeat: repeat-x; */
       background-size: cover;
       -webkit-background-size: cover; 
       -moz-background-size: cover; 
}

.bodyContainer {
    height: 100%;
    margin: 0 auto;
    background-color: #e3f2fd;
}

.container-fluid {
    background-color:#e3f2fd;
    padding-top: 100px;
}

.tagline {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}

/* navbar */
.container {
    width: 600px;
    margin-left: 0;
}

#joinmeNavbar {
    background-color: #222222;
}

#joinmeNavLink {
    color: #E18942;
    font-weight: bold;    
    font-family: 'Arimo', sans-serif; 
    font-size: 24px;       
}

.nav-link {
    color: #9e9e9e;
    font-family: 'Arimo', sans-serif; 
    font-size: 14px;
}

#activeNavLink {
    font-size: 18px;
    color: #e3f2fd;  
}


#btnSignOut {
    position: absolute;
    right: 40px;
    background: #E18942;
    color: #e3f2fd;
    font-family: 'Arimo', sans-serif;     
}

/* welcome panel */
#welcomePanel {
    width: 700px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 150px;
    background-color: #eeeeee;
    border-radius: 15px;
    font-family: 'Arimo', sans-serif;     
}

#welcomePanelBody {
    padding: 3rem;
    padding-bottom: 40px;
}

#welcomePanelTitle {
    margin-bottom: 20px;
    font-size: 58px;
    color: #000000;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}

#welcomePanelText {
    font-size: 18px;
    color: #333333;
    font-family: 'Arimo', sans-serif;
    line-height: 1.5em;
    
}

#welcomePanelBtnGroup {
    text-align: center;
}

#createProjectBtn {
    display: inline-block;
    width: 175px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 70px;
    color: #000000;
    background-color: #ffffff;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Arimo', sans-serif;     
}

#projectSearchBtn {
    width: 175px;
    margin-top: 20px;
    margin-right: 40px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Arimo', sans-serif;   
}

/* create project modal */
.modal-content {
    width: 800px;
    font-family: 'Arimo', sans-serif;    
}

.modal-header {
    background-color: #222222;
}

.modal-title {
    color: #ffffff;
    font-size: 30px;
    margin: 0 auto;
}

#closeModalBtn {
    color: #ffffff;    
    margin-left: 0px;
}

.modal-body {
    background-color: #f5f5f5;
}

.form-group {
    display: inline-block;
}

.form-control {
    background-color: #ffffff;
}

#createProjectModalLabels {
    margin-left: 40px;
    color: #424242;
    font-size: 18px;
}

#projectName {
    width: 680px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 2rem;
}

#projectType {
    width: 680px;
    margin-left: 40px;
    margin-right: 40px;
}

#projectDescription {
    margin-left: 40px;
    width: 680px;
} 

#stepOne {
    margin-left: 40px;
    width: 680px;
}

#stepOneDescription {
    margin-left: 40px;
    width: 680px;
}

#stepTwo {
    margin-left: 40px;
    width: 680px;
}

#stepTwoDescription {
    margin-left: 40px;
    width: 680px;
}

#stepThree {
    margin-left: 40px;
    width: 680px;  
}

#stepThreeDescription {
    margin-left: 40px;
    width: 680px;  
}

#stepFour {
    margin-left: 40px;
    width: 680px;  
}

#stepFourDescription {
    margin-left: 40px;
    width: 680px;    
}

#stepFive {
    margin-left: 40px;
    width: 680px; 
}

#stepFiveDescription {
    margin-left: 40px;
    width: 680px;   
}

#submitFormGroup {
    margin-top: 15px;
}

.modalGoodbyeMessage {
    display: inline-block;
    text-align: center;
    width: 450px;
    margin-left: 100px;
    font-size: 25px;    
    color: #222222;  
}

#submitModalBtn {
    background-color: #424242;
    color: #ffffff;
}

.modal-footer {
    background-color: #222222;
}

#dismissModalBtn {
    background-color: #ffffff;
    color: #424242;
    font-family: 'Arimo', sans-serif;         
}

/* user's projects list */
#usersProjectListPanel {
    width: 700px;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;
    font-family: 'Arimo', sans-serif;     
}

#projectListPanelHeader {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    text-align: center;        
}

#projectListPanelBody {
    background-color: #eeeeee;
    color: #424242;
    font-family: 'Arimo', sans-serif;     
}

#projectListHeadersInList {
    display: inline-block;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;    
}

#projectListH3 {
    display: inline-block;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: bold;    
    font-family: 'Arimo', sans-serif;    
}

.projectNameInList {
    display: inline-block;
    width: 260px;
    color: #424242;
    font-family: 'Arimo', sans-serif;
    font-size: .8em;
}

.projectStartDate {
    display: inline-block;
    width: 260px;    
    color: #424242;
    font-family: 'Arimo', sans-serif; 
}

h5 {
    display: inline-block;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Arimo', sans-serif;
    text-align: center;
}



/* footer */
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #E18942;
}

#footImg {
    vertical-align: middle;
}